* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow: hidden;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vw;
    background-color: #012645;
}
section .color {
    position: absolute;
    filter: blur(150px);
}
section .box {
    position: relative;
}
section .box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s , var(--i));
}
@keyframes animate {
    0%, 100% {transform: translate(-30px);}
    50% {transform: translate(30px);}
}
section .box .square:nth-child(1){
    top: -50px; right: -60px;
    width: 100px; height: 100px;
}
section .box .square:nth-child(2) {
    top: 150px; right: 80px;
    width: 100px; height: 100px;
    z-index: 2;
}
section .box .square:nth-child(3) {
    bottom: 50px; right: -60px;
    width: 80px; height: 80px;
    z-index: 2;
}   
section .box .square:nth-child(4) {
    bottom: -80; left: 100px;
    width: 50px; height: 50px;
}
section .box .square:nth-child(5) {
    top: -80; left: 140px;
    width: 60px; height: 60px;
}
section .container {
    position: relative;
    width: 600px;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    margin-bottom: 30vw;
}
section .container .from {
    position: relative;
    padding: 100px;
}
section .container .from h2 {
    position: relative;
    color: #add8e6;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 40px;
}
section .container .from h2::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 80px; height: 4px;
    background: #add8e6;
}
section .container .from .inputBox {
    width: 100%;
    margin-top: 20px;
}
section .container .from .inputBox input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
section .container .from .inputbox input::placeholder {
    color: #000;
}
section .container .from .inputbox input[type="submit"] {
    background: #000;
    color:#000;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
section .container .from .forget {
    margin-top: 5px;
    color: #add8e6;
}
section .container .from .forget a {
    color: #add8e6;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #add8e6;
    cursor: pointer;
    text-decoration: none;
}
